In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['idris','khan','khattak']

In [3]:
age = [21,32,12]

In [4]:
np.array(age)

array([21, 32, 12])

In [6]:
# See it have automatically initialized indexes as 0 ,1 ,2
pd.Series(age)

0    21
1    32
2    12
dtype: int64

In [7]:
# Now lets pass labels as indexes
pd.Series(data = (age), index = (labels))

idris      21
khan       32
khattak    12
dtype: int64

In [8]:
ser = pd.Series(data=([1,2,3,4,5]), index=(['Pak','Germany',"USA",'Norway','Sweden']))

In [9]:
ser

Pak        1
Germany    2
USA        3
Norway     4
Sweden     5
dtype: int64

In [10]:
# Now lets call any of the variable from the ser
ser['Pak']

1

In [11]:
# Lets Create another series and try to add them
ser2 = pd.Series(data = ([1,2,3,4,5,6]), index = (['Pak','Germany',"USA",'Norway','Sweden','USSR']))

In [12]:
# Now Pandas is smart that it will add all the countries numbers
# We can see NAN values because USSR = 6 and, 6+NAN = NAN
ser+ser2

Germany     4.0
Norway      8.0
Pak         2.0
Sweden     10.0
USA         6.0
USSR        NaN
dtype: float64