In [1]:
import pandas as pd

In [2]:
# Reading different types of files
df = pd.read_csv('example.csv')

In [3]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
# lets remove a column and then creating a new csv file
new = df.drop('a',axis=1)

In [6]:
new

    b   c   d
0   1   2   3
1   5   6   7
2   9  10  11
3  13  14  15

In [7]:
# A csv file have been created from new DataFrame
new.to_csv('new.csv')

In [8]:
# Lets read excel files
e_df = pd.read_excel('Excel_Sample.xlsx')

In [9]:
e_df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [11]:
e_df.drop('Unnamed: 0',axis=1,inplace=True)

In [12]:
e_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15